---
layout: common/base
---

<header>
    <nav>
        <details class="dropdown">
            <summary><span class="icon button button-square theme-darker-purple"></span></summary>
            <menu class="theme-dark-purple">
                <li><a href="/#games" class="button button-full-width theme-dark-purple button-sharp"><span class="icon text-pink">🎮</span> Games</a></li>
                <li><a href="/#gbg-tools" class="button button-full-width theme-dark-purple button-sharp"><span class="icon text-teal">🔨</span> GBG Tools</a></li>
                <li><a href="/#places" class="button button-full-width theme-dark-purple button-sharp"><span class="icon text-purple">🪐</span> Places</a></li>
            </menu>
        </details>
        
        <a href="/" class="navbar-logo"><img src="/data/common/img/logo_fullcolor.svg" alt="Voxy" ></a>
        <spacer-block class="w-150"></spacer-block>
        <menu class="desktop-nav">
            <li><a href="/#games" class="button theme-darker-purple"><span class="icon text-pink">🎮</span> Games</a></li>
            <li><a href="/#gbg-tools" class="button theme-darker-purple"><span class="icon text-teal">🔨</span> GBG Tools</a></li>
            <li><a href="/#places" class="button theme-darker-purple"><span class="icon text-purple">🪐</span> Places</a></li>
        </menu>
    </nav>
</header>

<main>{{ content }}</main>

<footer class="theme-darker-purple wave-top pv-400 pt-600">
    Made with ♥ by Voxy!
</footer>