---
layout: common/base
---

<header>
    <nav>
        <a href="/"><img src="/data/common/img/logo_fullcolor.svg" alt="Voxy" class="navbarLogo"></a>
        <menu>
            <li><a href="/#games" class="button theme-darker-purple"><span class="icon text-pink">🎮</span> Games</a></li>
            <li><a href="/#gbg-tools" class="button theme-darker-purple"><span class="icon text-teal">🔨</span> GBG Tools</a></li>
            <li><a href="/#places" class="button theme-darker-purple"><span class="icon text-purple">🪐</span> Places</a></li>
        </menu>
    </nav>
</header>

<main>{{ content }}</main>

<footer class="theme-darker-purple wave-top p-400 pt-600">
    Made with ♥ by Voxy!
</footer>