---
title: 404!
---
<!DOCTYPE html>
<html lang="en">
{% include common/head.html %}
<body>
    {% include common/navbar.html %}
    <main>
        <section>
            <div style="text-align: center;">
                <img src="/assets/common/img/404.png" alt="" style="max-width: 32rem; margin: auto; margin-block-end: 3rem;">
                <h1>404, that's an error!</h1>
                <p>Sorry, the page you're looking for doesn't exist! Try heading back to the <a href="/">homepage!</a></p>
            </div>
        </section>
    </main>
    {% include common/footer.html %}
</body>
</html>