---
title: Controller Sprites
redirect_from: /agtd-controller-sprites/
description: A collection of button and controller sprites, for use with the GBG Texture Tools.
---
<!DOCTYPE html>
<html lang="en">
{% include common/head.html %}
<body>
    {% include common/navbar.html %}
    <main>
        <section>
            <div>
                <h1>Controller Sprites</h1>
                <p>This is a collection of controller and input sprites meant to be used with the AGTD (Automatic GBG Texture Drawing) tool. Click on a sprite to copy its CSV data into your clipboard, which you can immediately paste inside the AGTD Arduino sketch file for importing.
                <h2>What's AGTD?</h2>
                <p>AGTD (Automatic GBG Texture Drawing) is an Arduino program developed by <a href="https://www.youtube.com/channel/UCjdquv22VPfwetg0JBV_JcA">Borri</a>. Its purpose is to automatically draw any arbitrary image inside Game Builder Garage, using an Arduino microcontroller plugged into the Nintendo Switch. For more information, check out this <a href="https://www.youtube.com/watch?v=PTDiTS-Exjk">great introduction and tutorial video</a> by VideoDojo.</p>
                <h2>What if I don't own an Arduino?</h2>
                <p>If you still want to use those icons without having to buy an Arduino, you can enter the ID <strong>G 008 V7R L3P</strong> to download a game file containing all of them imported as textures. You can either use them as reference, or you can make a copy of the file and build your game there!</p>
            </div>
        </section>
        <section>
            <div>
                <div class="sprites_grid">
                    {% for item in site.data.controller_sprites %}
                    <button class="button" onclick="copyToClipboard(event)" data-sprite="{{ forloop.index0 }}" title="{{ item.name }}">
                        <span class="top">
                            <img src="/assets/controller-sprites/img/{{ item.image }}.svg" alt="{{ item.name }}">
                        </span>
                    </button>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
    <div id="snackbar"><p>Copied to clipboard!</p></div>
    {% include common/footer.html %}
    <script type="text/javascript" src="/assets/controller-sprites/controller-sprites.js"></script>
    <script>
        function copyToClipboard(event) {
            var input = event.target;
            var i = input.dataset.sprite;
            navigator.clipboard.writeText(sprites[i]);
            console.log(sprites[i]);
            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        }
    </script>
</body>
</html>