---
title: Home
layout: default
description: Welcome to the space of a silly bunny!
---

<section style="--color-background: var(--color-yellow); padding-block-end: 0">
    <div class="hero-container">
        <div>
            <h1>
                Hi, hello!
            </h1>
            <p class="lead">
                I'm <strong>Voxy</strong> <small>(he/him)</small>, a graphic and UI designer from Belgium, and a certified silly bunny rabbit!
            </p>
            <p>
                I love creating stuff and learning new things like web development or game development. I built this humble website so I can share my creative endeavors with you, because making stuff is fun, but so is sharing it with others! Hope you'll enjoy your stay!
            </p>
        </div>
        <img src="/assets/img/bunny.svg" alt="Stylized silhouette illustration of an anthropomorphic rabbit wearing large round glasses, doing a victory sign." class="hero-illustration">
    </div>
</section>

<section>
    <h2>{% include icons/hammer.html %} Projects</h2>

    <div class="card-grid">
        {% for project in site.data.projects limit: 3 %}
        <article class="card {% if forloop.first ==true %}featured{% endif %}">
            <div class="card-contents">
                <img src="/assets/img/projects/{{ project.thumbnail_path }}" alt="">
                <h3>{{ project.title }} <span class="badge" data-type="{{ project.type }}"></span></h3>
                <p>{{ project.description }}</p>
                <div class="button-cluster">
                    {% for button in project.buttons %}
                    <a href="{{ button.url }}" class="button full-width">
                        {{ button.label }}&nbsp;
                        {% if button.icon %}
                            {% include icons/{{ button.icon }}.html %}
                        {% endif %}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
</section>

<section>
    <h2>{% include icons/thoughts.html %} Thoughts</h2>

    <div class="card-grid">
        {% for post in site.posts %}
            <article class="card">
                <div class="card-contents">
                    <h3>{{ post.title }}</h3>
                    <p>
                        <span class="post-date">Published {{ post.date | date: "%e %B %Y"}}</span><br>
                        {{ post.excerpt }}
                    </p>
                    <div class="button-cluster">
                        <a href="{{ post.url }}" class="button">
                            Read more
                        </a>
                    </div>
                </div>
                
            </article>
        {% endfor %}
    </div>
</section>

<section>
    <h2>{% include icons/planet.html %} Places</h2>

    <div class="card-grid">
        {% for place in site.data.places %}
            <article class="card no-thumbnail">
                <div class="card-contents">
                    <h3>{{ place.name }}</h3>
                    <p>{{ place.description }}</p>
                </div>
            </article>
        {% endfor %}
    </div>
</section>