---
title: Home
description: Game Builder Garage resources and creations.
---
<!DOCTYPE html>
<html lang="en">
{% include common/head.html %}
<body>
    {% include common/navbar.html %}
    <main>
        <section id="hero">
            <div>
                <img src="/assets/common/img/logo_hero.svg" alt="Voxy's Rec Room">
                <h1>Game Builder Garage resources and creations</h1>
            </div>
        </section>
        <section id="main_nav">
            <h1>Resources</h1>
            <div class="nav_grid">
                {% for item in site.data.main_nav %}
                    <a href="{{ item.url }}" class="button_lg">
                        <div class="top">
                            <img class="card_icon" src="/assets/common/img/icon_{{ item.icon }}.png" alt="">
                            <h3>{{ item.name }}</h3>
                            <p>{{ item.description }}</p>
                        </div>
                    </a> 
                {% endfor %}
            </div>
        </section>
    </main>
    {% include common/footer.html %}
</body>
</html>