---
title: GBG Programming Set-ups
redirect_from: /gbg-samples/
description: Learn to program all kinds of features with this list of programming set-ups created by Nintendo.
---
<!DOCTYPE html>
<html lang="en">
{% include common/head.html %}
<body>
    {% include common/navbar.html %}
    <main>
        <section>
            <div>
                <h1>Programming Set-ups</h1>
                <p>From June 2021 to March 2022, Nintendo has released 39 "set-ups", small demo games that showcase all kinds of game mechanics and show how to program them.<br>
                Game Builder Garage news channels were also created to promote the set-ups. Unfortunately, only the Japanese channel has shared them without interruption. The English language channels from Europe and America, on the other end, have only shared the few first set-ups, despite all 39 of them getting translated and uploaded to the Game Builder Garage online servers.<br>Therefore, I took it upon myself to compile all the set-ups on this webpage to provide easy access to them all, alongside short descriptions of what they do. I hope you'll find them useful when working on your own creations!</p>
            </div>
        </section>
        <section>
            <div>
                <div class="setups_grid">
                    {% for item in site.data.programming_setups %}
                        <article class="card">
                            <div>
                                <h3>{{ item.name }}</h3>
                                <h4>{{ item.id }}</h4>
                                <p>{{ item.description }}</p>
                            </div>
                            <div class="setups_nodon">
                                {% for nodon in item.nodon %}
                                    <img src="/assets/programming-setups/img/{{ nodon }}-nodon.webp">
                                {% endfor %}
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
    {% include common/footer.html %}
</body>
</html>