@font-face {
    font-family: 'Rec Room';
    src: url('/assets/common/font/rec-room.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Switch Inputs';
    src: url('/assets/common/font/switch_buttons.woff') format('woff'),
         url('/assets/common/font/switch_buttons.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    background: url("/assets/common/img/grid_pattern.png") center;

    --neutral-0: #FFFFFF;
    --neutral-100: #E1E1E1;
    --neutral-900: #1D1F3F;
    --yellow-500: #FFCA41;
    --yellow-600: #FFA53C;
    --purple-500: #9333EA;
    --purple-600: #602E93;
    --purple-700: #4A1F77;
    --purple-800: #3A0F66;
    --purple-900: #260548;

    --bg-main: var(--yellow-500);
    --bg-header: var(--neutral-0);
    --bg-footer: var(--purple-500);

    --text-main: var(--neutral-900);
    --text-headings: var(--purple-500);
    --text-footer: var(--neutral-0);

    --card: var(--neutral-0);
    --card-bottom: var(--neutral-100);
    --card-shadow: var(--yellow-600);

    color: var(--text-main);
}

body.dark {
    background: url("/assets/common/img/grid_pattern--dark.png") center;

    --bg-main: var(--purple-800);
    --bg-header: var(--purple-700);
    --bg-footer: var(--purple-900);

    --text-main: var(--neutral-0);
    --text-headings: var(--yellow-500);
    --text-footer: var(--neutral-0);

    --card: var(--purple-600);
    --card-bottom: var(--purple-700);
    --card-shadow: var(--purple-900);
}

:is(h1,h2,h3,h4,h5,h6) {
    font-family: 'Fredoka', sans-serif;
    font-weight: 900;
    line-height: 1.1;
    color: var(--text-headings);
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 1.5rem;
}

:is(h1,h2,h3,h4,h5,h6,p) + p:not(.button_lg p) {
    margin-block-start: 0.75rem;
}

p + :is(h1,h2,h3,h4,h5,h6,p) {
    margin-block-start: 1.5rem;
}

img {
    display: block;
}

a {
    cursor: pointer;
}

a:any-link:not(#navbar a) {
    text-decoration: underline;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

section {
    padding-block: 3rem;
}

section + section {
    padding-block-start: 0;
}

section > div {
    max-width: 1280px;
    width: 100%;
    padding-inline: 1rem;
    margin: auto;
}

#hero {
    background: url("/assets/common/img/hero_pattern.png") center/cover;
    padding-block: 4rem;
}
body.dark #hero {
    background-image: url("/assets/common/img/hero_pattern--dark.png");
}

#hero img {
    margin: auto;
    margin-block-end: 1rem;
}
body.dark #hero img {
    content: url("/assets/common/img/logo_hero--dark.svg");
}

#hero h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: var(--text-main);
    text-align: center;
    text-shadow: 0 0.25rem 0 var(--card-shadow);
}

#resources {
    margin-block-start: 3rem;
}

.nav_grid, .games_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 1.5rem 1.25rem;
    margin-block-start: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    background: var(--card);
    box-shadow: 0px 24px 0px -16px var(--card-shadow);
    border-radius: 1.5rem;
    padding: 1.5rem;
}

.games_grid > .card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    align-items: flex-start;
    column-gap: 1.5rem;
    row-gap: 0.5rem;
    border-radius: 2.25rem;
}

.games_grid .card_icon {
    grid-row: 1;
}

.game_title {
    grid-row: 1;
    grid-column: 2;
}

.game_content {
    padding-block-start: 0.5rem;
    grid-row: 2;
    grid-column: 1 / 3;
}

.game_title > h4 {
    margin-block-start: 0.25rem;
    color: var(--text-main);
}

.setups_grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-auto-rows: 1fr;
}

.setups_grid > .card {
    padding-block-end: 0;
    justify-content: space-between;
}

.setups_grid > .card > div:first-of-type {
    flex-grow: 1;
}

.setups_grid > .card h4 {
    margin-block-start: 0.25rem;
    color: var(--text-main);
}

.button {
    display: block;
    width: 4rem;
    height: 4rem;
    background: var(--card-bottom);
    box-shadow: 0px 12px 0px -6px var(--card-shadow);
    border-radius: 0.75rem;
    cursor: pointer;
}

.button > .top {
    pointer-events: none;
    width: 100%;
    height: 100%;
    display: block;
    padding: 0.75rem;
    border-radius: 0.75rem;
    background: var(--card);
    will-change: transform;
    transition: transform 0.25s cubic-bezier(.48,2,.64,1);
    transform: translateY(-0.5rem);
}

.button:hover > .top {
    transform: translateY(-0.8rem);
}
.button:active > .top {
    transform: translateY(-0.25rem);
}

.button img {
    pointer-events: none;
    display: block;
    width: 100%;
    height: 100%;
}
body.dark .button img {
    filter: invert(100%) hue-rotate(180deg) brightness(200%);
}

.button_lg {
    display: block;
    background: var(--card-bottom);
    box-shadow: 0px 24px 0px -16px var(--card-shadow);
    border-radius: 2.25rem;
    cursor: pointer;
    text-decoration: none !important;
}

.button_lg > .top {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    align-items: flex-start;
    column-gap: 1.5rem;
    row-gap: 0.5rem;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    background: var(--card);
    border-radius: 2.25rem;
    pointer-events: none;
    will-change: transform;
    transition: transform 0.25s cubic-bezier(.48,2,.64,1);
    transform: translateY(-0.75rem);
}

.button_lg:hover > .top {
    transform: translateY(-1rem);
}

.button_lg:active > .top {
    transform: translateY(-0.25rem);
}

.card_icon {
    width: 128px;
    height: 128px;
    background: var(--bg-main);
    border-radius: 1.5rem;
    grid-column: 1;
    grid-row: 1 / 3;
}

.top h3 {
    grid-column: 2;
    grid-row: 1;
}

.top p {
    grid-column: 2;
    grid-row: 2;
}

.setups_nodon {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.setups_nodon > img {
    width: 3rem;
    height: 3rem;
    margin-bottom: -3px;
}

.sprites_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
    grid-auto-rows: 1fr;
    row-gap: 1rem;
    column-gap: 0.5rem;
    place-items: center;
}

#snackbar {
    visibility: hidden;
    text-align: center;
    border-radius: 0.75rem;
    background: var(--card);
    box-shadow: 0 0.5rem 0 var(--card-bottom), 0 20px 0 -6px rgba(0,0,0,0.2);
    padding: 1rem 2rem;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    bottom: 3rem;
    line-height: 1;
    margin: auto;
    width: 100%;
    max-width: 18rem;
}

#snackbar.show {
    visibility: visible;
    animation: fadein 0.3s cubic-bezier(0.34, 1.56, 0.64, 1), fadeout 0.3s 2.7s cubic-bezier(0.5, 0, 0.75, 0);
}

@keyframes fadein {
    from {bottom: -5rem;}
    to {bottom: 3rem;}
}

@keyframes fadeout {
    from {bottom: 3rem;}
    to {bottom: -5rem;}
}

/* Icons */

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Rec Room' !important;    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 24px;
    text-decoration: none !important;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
  .icon-youtube:before {
    content: "\e901";
  }
  .icon-output:before {
    content: "\e900";
  }
  .icon-previous:before {
    content: "\e904";
  }
  .icon-tips:before {
    content: "\e905";
  }
  .icon-home:before {
    content: "\e908";
  }
  .icon-input:before {
    content: "\e909";
  }
  .icon-middle:before {
    content: "\e90a";
  }
  .icon-next:before {
    content: "\e90b";
  }
  .icon-object:before {
    content: "\e90c";
  }
  .icon-moon:before {
    content: "\e90d";
  }
  .icon-sun:before {
    content: "\e90e";
  }
  .icon-link:before {
    content: "\e906";
  }
  .icon-menu:before {
    content: "\e907";
  }
  .icon-twitter:before {
    content: "\e902";
  }

[class^="input-"], [class*=" input-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Switch Inputs' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-decoration: none !important;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.input-a::after {
    content: '\e0e0';
}
.input-b::after {
    content: '\e0e1';
}
.input-x::after {
    content: '\e0e2';
}
.input-y::after {
    content: '\e0e3';
}
.input-dpad-up::after {
    content: '\e0eb';
}
.input-dpad-down::after {
    content: '\e0ec';
}
.input-dpad-left::after {
    content: '\e0ed';
}
.input-dpad-right::after {
    content: '\e0ee';
}
.input-l::after {
    content: '\e0e4';
}
.input-r::after {
    content: '\e0e5';
}
.input-sl::after {
    content: '\e0e8';
}
.input-sr::after {
    content: '\e0e9';
}
.input-zl::after {
    content: '\e0e6';
}
.input-zr::after {
    content: '\e0e7';
}
.input-buttons::after {
    content: '\e0ea';
}
.input-up::after {
    content: '\e0ad';
}
.input-down::after {
    content: '\e0ac';
}
.input-left::after {
    content: '\e0ae';
}
.input-right::after {
    content: '\e0ab';
}
.input-stick::after {
    content: '\e100';
}
.input-stick-press::after {
    content: '\e103';
}
.input-left-stick::after {
    content: '\e101';
}
.input-left-stick-press::after {
    content: '\e104';
}
.input-right-stick::after {
    content: '\e102';
}
.input-right-stick-press::after {
    content: '\e105';
}
.input-tilt-controller::after {
    content: '\E0C8\e12c\e0c9';
}
.input-tilt-switch::after {
    content: '\E0C8\e121\e0c9';
}
.input-tilt-joycon::after {
    content: '\E0C8\e127\e0c9';
}
  

@media screen and (max-width: 1024px) {
    html {
        font-size: 14px;
    }
    .nav_grid, .games_grid {
        grid-template-columns: 1fr;
    }
    .card {
        border-radius: 1.5rem;
    }
    .button_lg .top {
        column-gap: 1rem;
        border-radius: 1.5rem;
    }
    .card_icon {
        height: 48px;
        width: 48px;
        align-self: center;
        border-radius: 8px;
        grid-column: 1;
        grid-row: 1
    }
    .top h3 {
        grid-column: 2;
        grid-row: 1;
        align-self: center;
    }
    .top p {
        grid-column: 1 / 3;
        grid-row: 2;
    }
}