<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-external-link">
<path d="M8.5 6.5H6.5C5.39543 6.5 4.5 7.39543 4.5 8.5V17.5C4.5 18.6046 5.39543 19.5 6.5 19.5H15.5C16.6046 19.5 17.5 18.6046 17.5 17.5V15.5" stroke="currentColor" stroke-width="3" stroke-linecap="round" class="link-square"/>
<path d="M19.5 4.5L11.5 12.5" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="link-arrow"/>
<path d="M13.5 4.5H19.5V10.5" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="link-arrow"/>
</svg>