:root {
    --background: conic-gradient(at 125% 50%, #b78cf7, #ff7c94, #ffcf0d, #ff7c94, #b78cf7);
    --gradient: linear-gradient(90deg, #FB0087 0%, #FF5791 100%);
}

html {
    height: 100%;
    font-size: 20px;
    font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FB0087;
}

body {
    margin: 0;
    height: 100%;
    background-image: var(--background);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

main {
    max-width: 960px;
    margin: auto;
    padding: 1rem;
}

section {
    background: #fafafa;
    padding: 2.5rem;
    border-radius: 1rem;
    box-shadow: 0px 3rem 3rem -1rem rgba(255, 9, 127, 0.4);
}

article:not(:last-child) {
    margin-bottom: 2rem;
}

.card {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}

article .card > div {
    background: #ffffff;
    transition-property: box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    padding: 1.5rem;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    margin-top: 1rem;
    box-shadow: 0px 0rem 0rem -0.8rem rgba(255, 9, 127, 0);;
}

article .card:hover > div {
    box-shadow: 0px 0.6rem 1rem -0.8rem rgba(255, 9, 127, 0.4);
}

.logo {
    display: block;
    width: 28rem;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 4rem;
    z-index: -1;
    animation: bobbing 2s cubic-bezier(0.45, 0, 0.55, 1) infinite alternate;
}

@keyframes bobbing {
    from {
        transform: translateY(-0.5rem);
        filter: drop-shadow(0px 3rem 2rem rgba(255, 9, 127, 0.4));
    }
    to {
        transform: translateY(0.5rem);
        filter: drop-shadow(0px 1rem 1rem rgba(255, 9, 127, 0.6));
    }
}

h1,h2,h3,h4,h5,h6 {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 2.5rem;
}
h1::before {
    content:"";
    display: inline-block;
    background-image: url('/assets/img/bullet.svg');
    background-size: contain;
    background-position-y: center;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

h2 {
    font-size: 1.8rem;
}

p {
    line-height: 1.6;
}

p > a:any-link {
    cursor: pointer;
    color: #FB0087;
    font-weight: 700;
    text-decoration: none;
}
p > a:any-link:hover, p > a:any-link:active {
    text-decoration: underline;
}
strong {
    font-weight: 700;
}
small {
    font-size: 0.8rem;
}
em {
    font-style: oblique;
}

@media (max-width: 560px) {
    :root {
        --background: conic-gradient(at 200% 50%, #b78cf7, #ff7c94, #ffcf0d, #ff7c94, #b78cf7);
    }
    html {
        font-size: 16px;
    }
    .logo {
        width: 18rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    section {
        padding: 1rem;
        padding-top: 1.5rem;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
}