@font-face {
    font-family: 'Switch Controls';
    src: url('/assets/fonts/switch_buttons.woff2') format('woff2'),
        url('/assets/fonts/switch_buttons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Switch';
    src: url('/assets/fonts/switch.woff2') format('woff2'),
        url('/assets/fonts/switch.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Custom Icons';
    src: url('/assets/fonts/icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    --bg: #F6F3CF;
    --bg-light: #FCFAED;
    --bg-dark: #eae0a7;
    --main: #201A36;
    --accent: #F9D349;
    --input: #FF104F;
    --middle: #00D097;
    --gray: #7E94AF;
    --output: #2FB6FF;
    --object: #FF8047;
    --input-dark: #CB0068;
    --middle-dark: #00786A;
    --gray-dark: #325C7F;
    --output-dark: #0063CC;
    --object-dark: #EB2700;
}
body.dark {
    --bg: #252629;
    --bg-light: #35393b;
    --bg-dark: #1b1c1f;
    --main: #dee2e7;
    --accent: #704901;
    --input: #FF8CAA;
    --middle: #71FFC3;
    --gray: #BFCBDA;
    --output: #9FDDFF;
    --object: #FFD8C7;
    --input-dark: #FF5AAF;
    --middle-dark: #00FBA0;
    --gray-dark: #94A5B2;
    --output-dark: #80BDFF;
    --object-dark: #FF9B87;
}

html {
    font-size: 18px;
    font-family: 'Switch', 'Switch Controls', 'Custom Icons', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
}

html * {
    transition-property: background-color, background-image, background, border-color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

body {
    color: var(--main);
    background-color: var(--bg);
    display: grid;
    grid: [stack] 1fr / min-content [stack] 1fr;
    height: 100vh;
    overflow: hidden;
}

main > article {
    padding: 2rem 1rem;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--bg) var(--accent);
    scroll-behavior: smooth;
}
main > article > div {
    max-width: 960px;
    margin: auto;
}

.show_mobile {
    display: none;
}

/* Navigation */

header {
    display: none;
    background: url(/assets/img/nodopedia/bg_yellowstripe.svg);
    padding: 0.25rem;
}
body.dark header {
    background: url(/assets/img/nodopedia/bg_yellowstripe-dark.svg);
}

header > div {
    width: 1.5rem;
    height: 1.5rem;
}

body.dark .logo {
    content:url("/assets/img/nodopedia/logo-dark.svg");
}

#sidenav-open {
    display: grid;
    grid-template-columns: [nav] 22rem [escape] 1fr;
}

#sidenav-open > nav {
    min-width: 18rem;
    background: var(--bg-light);
}

#sidenav-open > nav > .header {
    background: url(/assets/img/nodopedia/bg_yellowstripe.svg);
    height: 7rem;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
}
body.dark #sidenav-open > nav > .header {
    background: url(/assets/img/nodopedia/bg_yellowstripe-dark.svg);
}
#sidenav-open > nav > .header > a {
    display: flex;
    align-items: center;
}

#sidenav-open > nav .logo {
    margin: 0;
    width: 100%;
}

#sidenav-open > nav > .navigation {
    padding: 1rem;
    height: calc((var(--vh, 1vh) * 100) - 7rem);
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--bg-light) var(--accent);
}
#sidenav-open > nav > .navigation::-webkit-scrollbar {
    width: 16px;
}
#sidenav-open > nav > .navigation::-webkit-scrollbar-track {
    background: var(--bg-light);
}
#sidenav-open > nav > .navigation::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 10px;
    border: 6px solid var(--bg-light);
}

#sidenav-open > nav .anchorjs-link {
    display: none;
}

#sidenav-button {
    display: none;
    visibility: hidden;
    width: 24px;
    height: 24px;
}

.icon {
    fill: currentColor;
    width: 24px;
    height: 24px;
}

button.theme_switch {
    color: var(--main);
    position:fixed;
    bottom: 2rem;
    right: 2rem;
    cursor:pointer;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: var(--accent);
    box-shadow: 0px 1rem 1rem rgba(0,0,0,0.2);
}

header > a:any-link {
    color: var(--main);
}

header .logo {
    height: 2.5rem;
}

header svg {
    fill: currentColor;
}

nav h1 {
    padding: 0 0.25rem;
    margin-bottom: 0.5rem !important;
    margin-top: 0.5rem;
}

nav ul a {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    color:var(--main) !important;
    --border: var(--main);
    margin-bottom: 0.5rem;
}
nav ul a.input {
    --border: var(--input);
}
nav ul a.middle {
    --border: var(--middle);
}
nav ul a.gray {
    --border: var(--gray);
}
nav ul a.output {
    --border: var(--output);
}
nav ul a.object {
    --border: var(--object);
}
nav ul a.tips {
    padding: 0.5rem 0.75rem;
    --border: var(--object);
}
nav ul a:hover {
    background-image: url(/assets/img/nodopedia/bg_whitestripe.svg);
    border-radius: 12px;
    animation-name: hover;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
body.dark nav ul a:hover {
    background-image: url(/assets/img/nodopedia/bg_whitestripe-dark.svg);
}

@keyframes hover {
    0% {background-position-x: 0px;}
    100% {background-position-x: 24px;}
}
nav ul a.active {
    background-image: url(/assets/img/nodopedia/bg_yellowstripe.svg);
    border-radius: 12px;
    opacity: .7;
}
body.dark nav ul a.active {
    background-image: url(/assets/img/nodopedia/bg_yellowstripe-dark.svg);
}

.nodon_icon {
    display: block;
    width: 60px;
    height: 60px;
    border: 2px solid var(--border);
    border-radius: 100%;
    margin-right: 0.5rem;
    flex-shrink: 0;
}

img.hero {
    display: block;
    margin: auto;
    margin-bottom: 2rem;
}
div.hero {
    display: flex;
    padding: 1rem;
    background: var(--bg-light);
    border-radius: 1rem;
}
div.hero p {
    font-size: 1.2rem;
    line-height: 1.8;
    text-align: center;
}
div.hero ~ p {
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
}

/* Nodon quotes */

.quote-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
    --text: var(--main);
    --border: var(--main);
}

.quote-wrapper.input {
    --text: var(--input-dark);
    --border: var(--input);
}
.quote-wrapper.middle {
    --text: var(--middle-dark);
    --border: var(--middle);
}
.quote-wrapper.gray {
    --text: var(--gray-dark);
    --border: var(--gray);
}
.quote-wrapper.output {
    --text: var(--output-dark);
    --border: var(--output);
}
.quote-wrapper.object {
    --text: var(--object-dark);
    --border: var(--object);
}

.picture {
    width: 128px;
    height: 128px;
    border-radius: 100%;
    background-color: var(--accent);
    border: 4px solid var(--border);
    margin-right: 2rem;
    flex-shrink: 0;
}

.quote {
    color: var(--text);
    box-sizing: border-box;
    position: relative;
    font-size: 1.2rem;
    padding: 1rem;
    background: var(--bg-light);
    border-radius: 0.5rem;
    border: 4px solid var(--border);
}
.quote::after {
    content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 12px solid transparent;
	border-right-color: var(--border);
	border-left: 0;
	margin-top: -12px;
	margin-left: -16px;
}

/* Headers */

p:not(:last-child) {
    margin-bottom: 1rem;
}

ul.bullet li {
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    list-style: disc;
}

p.page_title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h1 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

h1::after {
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 1rem;
    background:var(--main);
}

h2 {
    font-size: 1.1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

h2:before {
    content: "";
    margin-right: 0.5rem;
    width: 0.8rem;
    height: 1.6rem;
    background-color: var(--accent);
    border-radius: 2px;
}

h3 {
    font-weight: bold;
    padding: 0.4rem 0.8rem;
    background-color: var(--bg-dark);
    display: inline-block;
    border-radius: 30rem;
    margin-bottom: 0.5rem;
}

a:any-link {
    cursor: pointer;
    color: #4287c0;
}

a:any-link.anchorjs-link {
    transition-property: opacity;
    transition-duration: 0.1s;
    transition-timing-function: ease;
    color: var(--main);
    font-size: 24px;
    font-weight: normal;
}
h1:hover > .anchorjs-link, h2:hover > .anchorjs-link {
    opacity: 50%;
}
a:any-link:hover.anchorjs-link {
    opacity: 100%;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'Custom Icons' !important;
    line-height: 1;
    font-size: 24px;
}
.icon-link:before {
    content: "\e900";
  }
  .icon-menu:before {
    content: "\e901";
  }
  .icon-theme:before {
    content: "\e902";
  }


/* Table */

table {
    border-spacing: 0;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    background-color: var(--bg-light);
    text-align: left;
    width: 100%;
    clip-path: inset(0 0 0 0 round 0.5rem);
}

td:not(:last-child),
th:not(:last-child) {
    border-right: 4px solid var(--bg);
}

tr:not(:last-child) td,
tr:not(:last-child) th {
    border-bottom: 4px solid var(--bg); 
}

th {
    font-weight: bold;
    padding: 0.6rem 1rem;
    background-color: var(--accent);
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
}

td {
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
}

td > span, td > p {
    display: inline-block;
    padding: 0.6rem 1rem;
    vertical-align: top;
    overflow-wrap: anywhere;
    hyphens: auto;
}

.text_separate table p {
    padding: 0
}

table:not(.bgmnumber):not(.cameradetail) tr:first-child th:first-child {
    width: 8rem;
}

tbody tr:first-child {
    text-align: left;
}

tbody tr:first-child th {
    background-color: var(--accent);
    border-top: none
}

table.bgmnumber {
    table-layout: fixed;
}


@media (max-width: 960px) {
    html {
        font-size: 14px;
    }
    body > :is(aside,main){
        grid-area: stack;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
        height: 4rem;
    }
    main > article {
        height: calc((var(--vh, 1vh) * 100) - 4rem);
        padding-bottom: 8rem;
    }
    #sidenav-button {
        display: block;
        visibility: visible;
    }
    #sidenav-open {
        position: sticky;
        top: 0;
        max-height: calc(var(--vh, 1vh) * 100);
        background-color: rgba(249,211,73,0);
        overflow: hidden auto;
        overscroll-behavior: contain;
        visibility: hidden;
        transition: visibility 0s linear 0.4s, background-color 0.2s linear;
        z-index: 1000;
    }
    #sidenav-open > nav {
        min-width: 12rem;
        transform: translateX(-100vw);
        will-change: transform;
        transition: transform 0.4s cubic-bezier(0.5, 1, 0.89, 1);
    }
    #sidenav-open > nav > .header {
        display: none;
    }
    #sidenav-open > nav > .navigation {
        height: 100vh;
    }
    #sidenav-open a .nodon_icon {
        width: 48px;
        height: 48px;
    }
    #sidenav-open:target {
        visibility: visible;
        background-color: rgba(249,211,73,0.8);
        transition: background-color 0.2s linear;
    }
    #sidenav-open:target > nav {
        transform: translateX(0);
        transition: transform 0.4s cubic-bezier(0.5, 1, 0.89, 1);
    }
    a:any-link.anchorjs-link {
        opacity: 50%;
    }
}

@media (max-width: 480px) {
    table:not(table.shortcutcontrol) tbody:not(thead ~ tbody) tr:first-child, thead tr, .hide_mobile {
        display: none;
    }
    .show_mobile {
        display: revert;
    }
    table:not(table.shortcutcontrol) tr:not(:last-child) {
        border-bottom: 0.5rem solid var(--bg);
    }
    table:not(table.shortcutcontrol) td {
        display: flex;
        border-right: none !important;
        overflow: visible;
        text-overflow: unset;
    }
    table th {
        overflow: visible;
        text-overflow: unset;
    }
    table td:not(:last-child) {
        border-bottom: 4px solid var(--bg) !important;
    }
    
    table:not(table.shortcutcontrol) td::before {
        content: attr(label);
        font-weight: bold;
        background-color: var(--accent);
        border-right: 4px solid var(--bg);
        padding: 0.5rem 0.8rem;
        width: 120px;
        min-width: 120px;
        display: flex;
        align-items: center;
    }
    table.bgmnumber td::before{
        width: 140px;
        min-width: 140px;
    }
    .quote-wrapper {
        flex-direction: column;
    }
    .picture {
        margin-right: 0;
        margin-bottom: 1.5rem;
    }
    .quote::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 12px solid transparent;
        border-bottom-color: var(--border);
        border-top: 0;
        margin-left: -12px;
        margin-top: -16px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        --bg: #252629;
        --bg-light: #35393b;
        --bg-dark: #1b1c1f;
        --main: #dee2e7;
        --accent: #704901;
        --input: #FF8CAA;
        --middle: #71FFC3;
        --gray: #BFCBDA;
        --output: #9FDDFF;
        --object: #FFD8C7;
        --input-dark: #FF5AAF;
        --middle-dark: #00FBA0;
        --gray-dark: #94A5B2;
        --output-dark: #80BDFF;
        --object-dark: #FF9B87;
    }
    body.light {
        --bg: #F6F3CF;
        --bg-light: #FCFAED;
        --bg-dark: #eae0a7;
        --main: #201A36;
        --accent: #F9D349;
        --input: #FF104F;
        --middle: #00D097;
        --gray: #7E94AF;
        --output: #2FB6FF;
        --object: #FF8047;
        --input-dark: #CB0068;
        --middle-dark: #00786A;
        --gray-dark: #325C7F;
        --output-dark: #0063CC;
        --object-dark: #EB2700;
    }
    header {
        background: url(/assets/img/nodopedia/bg_yellowstripe-dark.svg);
    }
    body.light header {
        background: url(/assets/img/nodopedia/bg_yellowstripe.svg);
    }
    .logo {
        content:url("/assets/img/nodopedia/logo-dark.svg");
    }
    body.light .logo {
        content:url("/assets/img/nodopedia/logo.svg");
    }
    #sidenav-open > nav > .header  {
        background: url(/assets/img/nodopedia/bg_yellowstripe-dark.svg);
    }
    body.light #sidenav-open > nav > .header  {
        background: url(/assets/img/nodopedia/bg_yellowstripe.svg);
    }
    nav ul a:hover  {
        background-image: url(/assets/img/nodopedia/bg_whitestripe-dark.svg);
    }
    body.light nav ul a:hover  {
        background-image: url(/assets/img/nodopedia/bg_whitestripe.svg);
    }
    nav ul a.active {
        background-image: url(/assets/img/nodopedia/bg_yellowstripe-dark.svg);
    }
    body.light nav ul a.active {
        background-image: url(/assets/img/nodopedia/bg_yellowstripe.svg);
    }
}