@layer reset {
    /* css reset from josh w. comeau */
    
    *, *::before, *::after {
        box-sizing: border-box;
    }
    *:not(dialog) {
        margin: 0;
    }
    @media (prefers-reduced-motion: no-preference) {
        html {
            interpolate-size: allow-keywords;
        }
    }
    body {
        line-height: 1.4;
        -webkit-font-smoothing: antialiased;
    }

    img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
    }
    input, button, textarea, select {
        font: inherit;
    }
    p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
    }
    p {
        text-wrap: pretty;
    }
    h1, h2, h3, h4, h5, h6 {
        text-wrap: balance;
    }
    menu {
        list-style: none;
        padding: 0;
    }
    #root, #__next {
        isolation: isolate;
    }
}

@layer tokens {
    :root {
        --color-yellow: #FFD900;
        --color-magenta: #FF4E9B;
        --color-cyan: #00C5C5;
        --color-black: #000000;
        --color-darker: #0A0A0D;
        --color-dark: #141416;
        --color-light: #E3DED2;
        --color-lighter: #EFEEE9;
        --color-white: #FFFFFF;

        /* used for page backgrounds */
        --color-background: light-dark(
            var(--color-lighter),
            var(--color-darker)
        );   
        /* primarily used for cards */
        --color-raised-container: light-dark(
            var(--color-white),
            var(--color-dark)
        );
        /* used for blockquotes, code blocks, and similar */
        --color-inset-container: light-dark(
            var(--color-light),
            var(--color-black)
        );
        --color-text: light-dark(
            var(--color-darker),
            var(--color-light)
        );
        --color-accent-primary: var(--color-yellow);
        --color-accent-secondary: var(--color-cyan);
        --color-text-on-accent: var(--color-black);

        color-scheme: light dark;
    }
}

@layer typography {
    /* font declarations */

    @font-face {
        font-family: "Mohr Rounded";
        src: url("/assets/font/MohrRounded-Medium.woff2");
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: "Mohr Rounded";
        src: url("/assets/font/MohrRounded-MediumIt.woff2");
        font-weight: normal;
        font-style: italic;
    }
    @font-face {
        font-family: "Mohr Rounded";
        src: url("/assets/font/MohrRounded-SemiBold.woff2");
        font-weight: 600;
        font-style: normal;
    }
    @font-face {
        font-family: "Mohr Rounded";
        src: url("/assets/font/MohrRounded-SemiBoldIt.woff2");
        font-weight: 600;
        font-style: italic;
    }
    @font-face {
        font-family: "Mohr Rounded";
        src: url("/assets/font/MohrRounded-Bold.woff2");
        font-weight: bold;
        font-style: normal;
    }
    @font-face {
        font-family: "Mohr Rounded";
        src: url("/assets/font/MohrRounded-BoldIt.woff2");
        font-weight: bold;
        font-style: italic;
    }
    @font-face {
        font-family: "Mohr Rounded";
        src: url("/assets/font/MohrRounded-Heavy.woff2");
        font-weight: 900;
        font-style: normal;
    }
    @font-face {
        font-family: "Mohr Rounded";
        src: url("/assets/font/MohrRounded-HeavyIt.woff2");
        font-weight: 900;
        font-style: italic;
    }
    @font-face {
        font-family: "Cartograph CF";
        src: url("/assets/font/CartographCF-Regular.woff2");
        font-weight: normal;
        font-style: normal;
    }

    html {
        font-family: "Mohr Rounded", sans-serif;
        font-size: clamp(1em, 0.9em + 1vw, 1.25em);
    }

    code, kbd, pre {
        font-family: "Cartograph CF", monospace;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 900;
        line-height: 1;
        max-inline-size: 65ch;
        color: var(--color-text);
    }

    h1 {
        scroll-margin-block-start: 7rem;
        font-weight: 700;
        font-size: 3rem;
        letter-spacing: -0.04em;
        text-transform: lowercase;
        font-style: italic;
    }

    h2 {
        scroll-margin-block-start: 7rem;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: -0.04em;
        text-transform: lowercase;
        font-style: italic;
        &:has(svg) {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            & svg {
                inline-size: 1em;
                block-size: 1em;
            }
        }
        &+ * {
            margin-block-start: 1rem;
        }
    }

    h3 {
        font-size: 1.25rem;
        font-weight: 700;
        letter-spacing: -0.04em;
    }

    p {
        max-inline-size: 65ch;
        color: var(--color-text);
        + p {
            margin-block-start: 1.5rem;
        }
        + :is(h1, h2, h3, h4, h5, h6) {
            margin-block-start: 2.5rem;
        }
    }

    hgroup > p:first-of-type {
        color: oklch(from var(--color-text) l c h / 75%);
        font-size: 1.2rem;
        letter-spacing: -0.02em;
        margin-block-start: 0rem;
    }

    hgroup + * {
        margin-block-start: 1rem;
    }

    menu a:any-link, #table-of-contents a:any-link {
        text-decoration: none;
        color: inherit;
        font-weight: bold;
        transition: text-underline-offset 0.1s ease;
        text-underline-offset: 0.1em;
        &:hover {
            text-underline-offset: 0.2em;
            text-decoration: underline;
            text-decoration-color: var(--color-accent-primary);
        }
    }

    small {
        font-size: 0.8em;
        font-style: italic;
    }

    kbd {
        font-family: "Mohr Rounded", sans-serif;
        font-weight: bold;
        display: inline-flex;
        justify-content: center;
        min-inline-size: 1.5rem;
        padding: 0.25rem 0.3rem;
        border-radius: 0.25rem;
        line-height: 1.0;
        background-color: var(--color-raised-container);
        box-shadow: 0 0.25rem var(--color-inset-container);
    }

    :not(pre) > code {
        padding-inline: 0.25rem;
        border-radius: 0.25rem;
        background-color: var(--color-inset-container);
    }

    .muted {
        color: oklch(from var(--color-text) l c h / 75%);
    }

    a:any-link:not(.button, menu a, #table-of-contents a) {
        font-weight: 700;
        text-underline-offset: 0.1em;
        transition: text-underline-offset 0.1s ease;
        text-decoration-color: var(--color-accent-primary);
        color: inherit;
        &:hover {
            text-underline-offset: 0.2em;
            text-decoration: underline;
            text-decoration-color: var(--color-accent-primary);
        }
        &:active, &:visited {
            text-decoration-color: var(--color-accent-primary);
        }
    }

    .post-date {
        font-size: 0.8em;
        font-style: italic;
    }
}

@layer layout {
    html {
        scroll-behavior: smooth;
    }

    body {
        min-height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr auto;
        background-color: var(--color-background);
        container-type: inline-size;
    }

    header {
        container-type: inline-size;
        display: grid;
        grid-template-columns: 1fr minmax(auto, calc(1200px - 2rem)) 1fr;
        position: sticky;
        top: 0;
        background-color: var(--color-white);
        color: var(--color-darker);
        z-index: 10;

        @container (min-width: calc(1200px - 2rem)) {
            padding-block-start: 1rem;
            background-color: transparent;
        }
        & > nav {
            background-color: var(--color-white);
            grid-column: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 0.5rem;
            padding-inline: 1.5rem;
            padding-block: 0.5rem;
            border-radius: 1.5rem;

            @supports (corner-shape: round) {
                corner-shape: superellipse(1.5);
                border-radius: 1.75rem;
            }

            @container (min-width: 24rem) {
                flex-direction: row;
            }

            & .nav-logo {
                inline-size: 3rem;
            }

            & > menu {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                & li > a {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.25rem;
                }
            }
        }
    }

    footer {
        color-scheme: only dark;
        background-color: var(--color-black);
        color: var(--color-white);
        display: grid;
        grid-template-columns: 1fr minmax(auto, calc(1200px - 2rem)) 1fr;
        grid-template-rows: auto auto;
        padding-block-start: 2rem;
        gap: 2rem;
        border-radius: 2rem 2rem 0 0;
        > * {
            grid-column: 2;
        }
        > div {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            > p:last-child {
                margin: 0;
            }

            @container (min-inline-size: 28rem) {
                flex-direction: row;
                justify-content: space-between;

                > p:last-child {
                    text-align: right;
                }
            }
        }
        > img {
            inline-size: 100%;
            max-block-size: 12rem;
            object-fit: cover;
            object-position: top center;
            aspect-ratio: 29 / 6;
        }
        & a:any-link {
            color: var(--color-accent-primary);
        }
    }

    section {
        scroll-margin-block-start: 4rem;
        display: grid;
        grid-template-columns: 1fr min( calc(1200px - 2rem), calc(100% - 2rem) ) 1fr;
        padding-block: 3rem;
        background-color: var(--color-background);
        container-type: inline-size;

        & > .readable-width {
            display: grid;
            grid-template-columns: 1fr min(65ch, 100%) 1fr;
            & > * {
                grid-column: 2;
            }
            & > :has(.full-bleed, img, video) {
                grid-column: 1 / 4;
                max-inline-size: 100%;
                inline-size: 100%;
                > :is(.full-bleed, img, video) {
                    border-radius: 2rem;
                }
            }
        }

        &:first-of-type {
            margin-block-start: -5rem;
            padding-block-start: 8rem;
        }

        > * {
            grid-column: 2;
        }
    }

    .hero-container {
        padding-block-end: 0;
        display: grid;
        grid-template-rows: 1fr auto;

        > div {
            padding-block-end: 2rem;
        }

        @container (min-inline-size: 48rem) {
            grid-template-rows: 1fr;
            grid-template-columns: 1fr auto;
            gap: 2rem;

            > * {
                grid-column: 1;
            }

            & .hero-illustration {
                justify-self: flex-end;
                grid-column: 2;
            }
        }
    }

    .hero-illustration {
        inline-size: 20rem;
        margin-block-end: -1.325rem;
        justify-self: center;
        align-self: flex-end;
    }

    .post-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 2rem;
        > #table-of-contents {
            display: none;
            background-color: var(--color-raised-container);
            padding: 1rem;
            border-radius: 1rem;
            margin-block-start: -1rem;
            position: sticky;
            top: 7rem;
            flex-direction: column;
            & > h3 {
                margin-block-end: 1rem;
            }
            & > ul {
                list-style: none;
                padding: 0;
            }
        }

        @container (min-inline-size: 48rem) {
            grid-template-columns: 1fr 16rem;
            > #table-of-contents {
                display: flex;
                grid-column: 2;
                grid-row: 1;
                align-self: flex-start;
            }
        }
    }

    .card-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

        & + * {
            margin-block-start: 1rem;
        }

        @container (min-inline-size: 48rem) {
            grid-template-columns: 1fr 1fr;
        }
    }

    .button-cluster {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        @container (min-inline-size: 20rem) {
            flex-direction: row;
        }
    }

    pre {
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: var(--color-inset-container);
    }
}

@layer components {
    a.button:any-link {
        --color-button-background: var(--color-accent-primary);
        display: flex;
        align-items: center;
        inline-size: fit-content;
        padding: 0.51rem 1rem;
        border-radius: 0.5rem;
        background-color: var(--color-button-background);
        color: var(--color-text-on-accent);
        font-weight: 700;
        text-decoration: none;
        transition: background-color 0.1s ease;
        &:hover {
            background-color: oklch(from var(--color-button-background) calc(l + 0.05) c h);
        }
        &:active {
            background-color: oklch(from var(--color-button-background) calc(l - 0.05) c h);
        }
        &.full-width {
            justify-content: center;
            width: 100%;
        }
    }
    .card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        container-type: inline-size;
        background: var(--color-raised-container);
        padding: 1rem;
        border-radius: 2rem;
        
        &.featured {
            grid-row: span 2;
        }
    }

    .card-contents {
        display: grid;
        block-size: 100%;
        gap: 1rem;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: auto 1fr;
        grid-template-areas:
            "thumbnail title"
            "description description"
            "buttons buttons"
        ;

        & > img {
            grid-area: thumbnail;
            max-inline-size: 6rem;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            border-radius: 1rem;
        }

        & > h3 {
            grid-area: title;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 0.25rem;
        }

        & > p {
            grid-area: description;
        }

        & > .button-cluster {
            grid-area: buttons;
        }

        @container (min-inline-size: 24rem) {
            grid-template-rows: auto 1fr auto;
            grid-template-columns: auto 1fr;
            grid-template-areas:
                "thumbnail title"
                "thumbnail description"
                "buttons buttons"
            ;

            & h3 {
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: 0.5rem;
                margin-block-end: -0.75rem;
            }
        }
    }

    .card:not(:has(.button-cluster)), .card:not(:has(img)) {
        border-radius: 1rem;
    }

    .card:not(:has(img)) > .card-contents {
        grid-template-columns: 1fr;
        grid-template-areas:
            "title"
            "description"
            "buttons"
        ;

        & > h3 {
            margin-block-end: -0.75rem;
        }
    }

    .card:not(:has(.button-cluster)) > .card-contents {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "title"
            "description"
        ;
    }

    .featured .card-contents {
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "thumbnail"
            "title"
            "description"
            "buttons"
        ;
        
        & img {
            max-inline-size: 100%;
            inline-size: 100%;
            aspect-ratio: 16 / 9;
        }
    }

    span.badge {
        display: inline-flex;
        padding: 0.25rem 0.5rem;
        padding-block-start: 0.4rem;
        border-radius: 0.5rem;
        background-color: var(--color-accent-secondary);
        color: var(--color-text-on-accent);
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1.0;
        text-transform: uppercase;
        letter-spacing: 0em;
        &::before {
            content: attr(data-type);
        }
    }
}

@layer animations {
    @keyframes hammer-swing {
        0% {
            transform: rotate(0deg);
        }
        40% {
            transform: rotate(-10deg);
        }
        50% {
            transform: rotate(45deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

    @keyframes thought-jiggle {
        0% {
            transform: scale(1);
        }
        40% {
            transform: scale(1.1);
        }
        90% {
            transform: scale(0.95);
        }
        100% {
            transform: scale(1);
        }
    }

    @keyframes thought-tail-jiggle {
        0% {
            transform: scale(1);
        }
        40% {
            transform: scale(1.25);
        }
        90% {
            transform: scale(0.90);
        }
        100% {
            transform: scale(1);
        }
    }

    @keyframes planet-spin {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(60deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

    @keyframes arrow-bounce {
        0% {
            transform: translateX(0rem) scaleX(1) scaleY(1);
            animation-timing-function: ease-out;
        }
        20% {
            transform: translateX(0.2rem) scaleX(1.2) scaleY(0.9);
            animation-timing-function: linear(0, 0.002 0.5%, 0.009 1.1%, 0.022 1.7%, 0.04 2.3%, 0.062 2.9%, 0.093 3.6%, 0.123 4.2%, 0.163 4.9%, 0.239 6.1%, 0.331 7.4%, 0.686 12%, 0.825 13.9%, 0.893 14.9%, 0.95 15.8%, 1.003 16.7%, 1.051 17.6%, 1.095 18.5%, 1.134 19.4%, 1.164 20.2%, 1.194 21.1%, 1.216 21.9%, 1.236 22.8%, 1.252 23.7%, 1.263 24.6%, 1.268 25.2%, 1.271 25.9%, 1.272 27.2%, 1.265 28.6%, 1.249 30.1%, 1.229 31.5%, 1.201 33.1%, 1.169 34.7%, 1.06 39.9%, 1.026 41.7%, 1 43.3%, 0.973 45.2%, 0.954 47%, 0.939 48.8%, 0.93 50.7%, 0.927 52.1%, 0.926 53.5%, 0.927 55%, 0.932 56.7%, 0.946 59.8%, 0.983 66.4%, 0.998 69.5%, 1.011 73%, 1.018 76.4%, 1.02 79.6%, 1.019 83.2%, 1.002 95.1%, 1);
        }
        100% {
            transform: translateX(0rem) scaleX(1) scaleY(1);
        }
    }

    @keyframes link-square {
        0% {
            transform: scale(1);
            animation-timing-function: ease-out;
        }
        20% {
            transform: scale(0.9);
            animation-timing-function: linear(0, 0.002 0.5%, 0.009 1.1%, 0.022 1.7%, 0.04 2.3%, 0.062 2.9%, 0.093 3.6%, 0.123 4.2%, 0.163 4.9%, 0.239 6.1%, 0.331 7.4%, 0.686 12%, 0.825 13.9%, 0.893 14.9%, 0.95 15.8%, 1.003 16.7%, 1.051 17.6%, 1.095 18.5%, 1.134 19.4%, 1.164 20.2%, 1.194 21.1%, 1.216 21.9%, 1.236 22.8%, 1.252 23.7%, 1.263 24.6%, 1.268 25.2%, 1.271 25.9%, 1.272 27.2%, 1.265 28.6%, 1.249 30.1%, 1.229 31.5%, 1.201 33.1%, 1.169 34.7%, 1.06 39.9%, 1.026 41.7%, 1 43.3%, 0.973 45.2%, 0.954 47%, 0.939 48.8%, 0.93 50.7%, 0.927 52.1%, 0.926 53.5%, 0.927 55%, 0.932 56.7%, 0.946 59.8%, 0.983 66.4%, 0.998 69.5%, 1.011 73%, 1.018 76.4%, 1.02 79.6%, 1.019 83.2%, 1.002 95.1%, 1);
        }
        100% {
            transform: scale(1);
        }
    }

    @keyframes link-arrow {
        0% {
            transform: translateX(0rem) translateY(0rem);
            animation-timing-function: ease-out;
        }
        20% {
            transform: translateX(0.125rem) translateY(-0.125rem);
            animation-timing-function: linear(0, 0.002 0.5%, 0.009 1.1%, 0.022 1.7%, 0.04 2.3%, 0.062 2.9%, 0.093 3.6%, 0.123 4.2%, 0.163 4.9%, 0.239 6.1%, 0.331 7.4%, 0.686 12%, 0.825 13.9%, 0.893 14.9%, 0.95 15.8%, 1.003 16.7%, 1.051 17.6%, 1.095 18.5%, 1.134 19.4%, 1.164 20.2%, 1.194 21.1%, 1.216 21.9%, 1.236 22.8%, 1.252 23.7%, 1.263 24.6%, 1.268 25.2%, 1.271 25.9%, 1.272 27.2%, 1.265 28.6%, 1.249 30.1%, 1.229 31.5%, 1.201 33.1%, 1.169 34.7%, 1.06 39.9%, 1.026 41.7%, 1 43.3%, 0.973 45.2%, 0.954 47%, 0.939 48.8%, 0.93 50.7%, 0.927 52.1%, 0.926 53.5%, 0.927 55%, 0.932 56.7%, 0.946 59.8%, 0.983 66.4%, 0.998 69.5%, 1.011 73%, 1.018 76.4%, 1.02 79.6%, 1.019 83.2%, 1.002 95.1%, 1);
        }
        100% {
            transform: translateX(0rem) translateY(0rem);
        }
    }

    :has(> .icon-hammer):hover > .icon-hammer {
        transform-origin: 20% 75%;
        animation-name: hammer-swing;
        animation-duration: 500ms;
        animation-iteration-count: 1;
        animation-fill-mode: both;
        animation-timing-function: ease;
    }

    :has(> .icon-thoughts):hover {
        & > .icon-thoughts > .thought-tail, > .icon-thoughts > .thought-cloud {
            transform-origin: calc((100% / 24) * 6) calc((100% / 24) * 19);
            animation-name: thought-tail-jiggle;
            animation-duration: 300ms;
            animation-iteration-count: 1;
            animation-fill-mode: both;
            animation-timing-function: ease;
        }
        & > .icon-thoughts > .thought-cloud {
            animation-name: thought-jiggle;
            transform-origin: calc((100% / 24) * 12) calc((100% / 24) * 10);
            animation-delay: 100ms;
        }
    }

    :has(> .icon-planet):hover > .icon-planet {
        transform-origin: 50% 50%;
        animation-name: planet-spin;
        animation-duration: 500ms;
        animation-iteration-count: 1;
        animation-fill-mode: both;
        animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    }

    .icon-arrow-right {
        animation-duration: 0.6s;
    }

    :has(> .icon-arrow-right):hover > .icon-arrow-right {
        animation-name: arrow-bounce;
    }

    .icon-external-link > .link-square {
        transform-origin: calc((100% / 24) * 4.5) calc((100% / 24) * 19.5);
    }

    :has(> .icon-external-link):hover .link-square{
        animation-name: link-square;
        animation-duration: 0.6s;
    }

    :has(> .icon-external-link):hover .link-arrow{
        animation-name: link-arrow;
        animation-duration: 0.6s;
    }
}

@layer highlighter {
    .highlight {
        color: #24292f;

        & .w {
            color: #24292f;
        }
        & :is(.k, .kd, .kn, .kp, .kr, .kt, .kv) {
            color: #cf222e;
        }
        & .gr {
            color: var(--color-inset-container);
        }
        & .gd {
            color: #82071e;
        background-color: #ffebe9;
        }
        & :is(.nb, .nc, .no, .nn) {
            color: #953800;
        }
        & :is(.sr, .na, .nt, .gi) {
            color: #116329;
        }
        & .gi {
            background-color: #dafbe1;
        }
        & :is(.kc, .l, .ld, .m, .mb, .mf, .mh, .mi, .il, .mo, .mx, .sb, .bp, .ne, .nl, .py, .nv, .vc, .ig, .vi, .vm, .o, .ow, .gh, .gu) {
            color: #0550ae;
        }
        & :is(.s, .sa, .sc, .dl, .sd, .s2, .se, .sh, .sx, .s1, .ss) {
            color: #0a3069;
        }
        & :is(.nd, .nf, .fm) {
            color: #8250df;
        }
        & .err {
            color: var(--color-inset-container);
            background-color: #82071e;
        }
        & :is(.c, .ch, .cd, .cm, .cp, .cpf)
    }
    .highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cp, .highlight .cpf, .highlight .c1, .highlight .cs {
    color: #6e7781;
    }
    .highlight .gl {
    color: #6e7781;
    }
    .highlight .gt {
    color: #6e7781;
    }
    .highlight .ni {
    color: #24292f;
    }
    .highlight .si {
    color: #24292f;
    }
    .highlight .ge {
    color: #24292f;
    font-style: italic;
    }
    .highlight .gs {
    color: #24292f;
    font-weight: bold;
    }
}