<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Poppins:ital,wght@0,500;0,700;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/common/css/reset.css">
    <link rel="stylesheet" href="/assets/common/css/style.css">
    <link rel="shortcut icon" href="/assets/common/img/favicon.png" type="image/x-icon">

    <title>{{ page.title }} — Voxy's Rec Room</title>
    <meta name="description" content="{{ page.description }}" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" value="summary">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ page.title }} — Voxy's Rec Room" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:image" content="{{ site.url }}/assets/common/favicon_meta.png" />
    <meta property="og:image:secure_url" content="{{ site.url }}/assets/common/favicon_meta.png" />
    <meta property="og:description" content="{{ page.description }}" />
</head>