---
layout: page
title: Programming Set-ups
description: A repository of all the programming samples published by Nintendo.
---

<p>Between June 2021 and March 2022, Nintendo has released 39 weekly sample games created with Game Builder Garage. Each of those samples (called "programming set-ups") showcased various game mechanics, and explained how to program them in your own creations.</p>
<p>Despite all set-ups getting localized and uploaded to the Game Builder Garage servers, Japan was the only region to consistently release them through a dedicated news channel. To help preserve them and make them easier to access, I've compiled all of them onto this very page, along with short descriptions of what they contain.</p>
<p>I hope you'll find them useful in your own game creation process!</p>

<div class="card-grid">
    {% for item in site.data.gbg.programming_setups %}
        <article class="card">
            <div class="card-contents">
                <h3>{{ item.name }}</h3>
                <p>
                    <span class="lead">{{ item.id }}</span><br>
                    {{ item.description }}
                </p>
            </div>
            <div class="nodon-display">
                {% for nodon in item.nodon %}
                    <img src="/assets/img/gbg/nodon/{{ nodon }}-nodon.webp">
                {% endfor %}
            </div>
        </article>
    {% endfor %}
</div>