<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.description | strip_html }}">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" href="/assets/img/voxy_icon.svg" type="image/x-icon">
    <link rel="me" href="https://mastodon.gamedev.place/@voxybuns">
    <title>{{ page.title }} — Voxy's Space</title>

    <!-- Twitter Card data -->
    <meta name="twitter:card" value="summary">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ page.title }} — Voxy's Space" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:image" content="{{ site.url }}/assets/img/og/{% if page.has_og %}{{ page.path | remove: '_posts/' | replace:'.md','.png' }}{% else %}default.png{% endif %}" />
    <meta property="og:image:secure_url" content="{{ site.url }}/assets/img/og/{% if page.has_og %}{{ page.path | remove: '_posts/' | replace:'.md','.png' }}{% else %}default.png{% endif %}" />
    <meta property="og:description" content="{{ page.description }}" />
</head>
<body>
    {{ content }}
</body>
</html>