---
layout: default
---
<section style="--color-background: var(--color-yellow); --color-text: var(--color-darker);">
    <hgroup>
        <h1>
            {{ page.title }}
        </h1>
        <p>
            {{ page.excerpt }}
        </p>
    </hgroup>
    <p><small>
        <em class="muted">Originally written on </em>{{ page.date | date_to_string: "ordinal", "US" }}, <em class="muted">last updated on </em>{{ page.last-edit | date_to_string: "ordinal", "US" }}.
    </small></p>
</section>
<section>
    <div class="post-grid">
        <aside id="table-of-contents">
            <h3>Table of contents</h3>
            {% include toc.html html=content sanitize=true h_min=2 h_max=2 %}
        </aside>
        <div>
            {{ content }}
        </div>
    </div>
</section>
