---
layout: default
---
<section style="--color-background: var(--color-yellow); --color-text: var(--color-darker); {% if page.hero_illustration %}padding-block-end: 0{% endif %}">
    <div class="hero-container">
        <div>
            <hgroup>
                <h1>
                    {{ page.title }}
                </h1>
                <p>
                    {{ page.description }}
                </p>
            </hgroup>
        </div>
        {% if page.hero_illustration %}
        <img src="/assets/img/{{ page.hero_illustration }}" alt="{{ page.hero_illustration_alt }}" class="hero-illustration">
        {% endif %}
    </div>
</section>
<section>
    <div class="readable-width">
        {{ content }}
    </div>
</section>