<!DOCTYPE html>
<html lang="en">
    {% include gbg-samples/head.html %}
    <body>
        <header>
            <div>
                <h1>Game Builder Garage Samples</h1>
                <p>Since the release of <a href="https://www.nintendo.com/games/detail/game-builder-garage-switch/">Game Builder Garage</a> for the Nintendo Switch, Nintendo has been semi-regularly publishing game files and sharing them through the News channel, with each file containing documented examples of code to implement a variety of game mechanics.<br>This is an exhaustive list of these files as published by Nintendo of Europe, which I'll keep updated as new files are published.</p>
                <p><small>Last updated: Mar 5, 2022</small></p>
            </div>
            
        </header>
        <main>
            {% assign sample = site.samples | sort: 'order', 'last' %}
            {% for item in sample %}
            <article>
                <span class="eyes"></span>
                <div>
                    <h2>
                        <span>{{item.title}}</span>
                    </h2>
                    <h3>{{item.code}}</h3>
                    {{ item.content }}
                </div>
                
                <div class="nodon-list">
                    {% for nodon in item.nodon %}
                        <img class="nodon" src="/assets/img/gbg-samples/{{ nodon }}-nodon.webp">
                    {% endfor %}
                </div>
            </article>
        {% endfor %}
        </main>
        <footer>
            <p>Put together by <a href="https://twitter.com/voxybuns">@voxybuns</a>. This website is not affiliated with, or endorsed by Nintendo.</p>
        </footer>
    </body>
</html>