:root {
    /* Base colors */
    --blush-50: #FCF8F8;
    --blush-100: #FBEFF2;
    --blush-200: #F8D6E3;
    --blush-300: #F6B4CC;
    --blush-400: #F680A4;
    --blush-500: #F6547B;
    --blush-600: #EB3458;
    --blush-700: #C62848;
    --blush-800: #98203B;
    --blush-900: #761B30;
    --mango-50: #FBF7F1;
    --mango-100: #FBF0DE;
    --mango-200: #F8DFB7;
    --mango-300: #F6C47C;
    --mango-400: #F39B3D;
    --mango-500: #F2721C;
    --mango-600: #E64E12;
    --mango-700: #C33A16;
    --mango-800: #9A2E1B;
    --mango-900: #7B261A;
    --banana-50: #F9F6E8;
    --banana-100: #FAF1C2;
    --banana-200: #F6E881;
    --banana-300: #FFD540;
    --banana-400: #E5BA13;
    --banana-500: #DC9A06;
    --banana-600: #C77604;
    --banana-700: #A45908;
    --banana-800: #84450D;
    --banana-900: #6A380F;
    --olive-50: #FAFAF1;
    --olive-100: #F9F7D5;
    --olive-200: #F3F093;
    --olive-300: #EAE14B;
    --olive-400: #D3C617;
    --olive-500: #B8A807;
    --olive-600: #938504;
    --olive-700: #716507;
    --olive-800: #554C0C;
    --olive-900: #423C0D;
    --lime-50: #F5F9F6;
    --lime-100: #ECF8EA;
    --lime-200: #D3F2C9;
    --lime-300: #ABE79D;
    --lime-400: #5CD35E;
    --lime-500: #29BA31;
    --lime-600: #1F9C20;
    --lime-700: #227C21;
    --lime-800: #205F22;
    --lime-900: #1C4B20;
    --turquoise-50: #EDF8F9;
    --turquoise-100: #D3F7F4;
    --turquoise-200: #A4F0E8;
    --turquoise-300: #67E5DB;
    --turquoise-400: #23D2C7;
    --turquoise-500: #0BB8AC;
    --turquoise-600: #0A9C8F;
    --turquoise-700: #107E73;
    --turquoise-800: #12625A;
    --turquoise-900: #124F49;
    --cerulean-50: #F1F9FB;
    --cerulean-100: #DCF6F9;
    --cerulean-200: #B3ECF3;
    --cerulean-300: #7EDDEF;
    --cerulean-400: #3AC2E8;
    --cerulean-500: #179FDE;
    --cerulean-600: #127DCB;
    --cerulean-700: #1663A7;
    --cerulean-800: #164C7B;
    --cerulean-900: #143E5F;
    --denim-50: #F4F9FC;
    --denim-100: #E3F5FB;
    --denim-200: #BFE7F8;
    --denim-300: #94D3F6;
    --denim-400: #59B0F4;
    --denim-500: #2C86F1;
    --denim-600: #2062E7;
    --denim-700: #204DC9;
    --denim-800: #1D3C97;
    --denim-900: #183174;
    --navy-50: #F4F7FB;
    --navy-100: #EBEEFA;
    --navy-200: #D6D7F8;
    --navy-300: #BFBBF7;
    --navy-400: #A390F6;
    --navy-500: #8564F5;
    --navy-600: #6943EF;
    --navy-700: #5335D7;
    --navy-800: #412BAB;
    --navy-900: #342586;
    --grape-50: #F7F6FA;
    --grape-100: #F2EBF9;
    --grape-200: #E6D1F6;
    --grape-300: #DAB2F3;
    --grape-400: #CF84F0;
    --grape-500: #C458EE;
    --grape-600: #A839E3;
    --grape-700: #802DC6;
    --grape-800: #602598;
    --grape-900: #4C2076;
    --neutral-50: #FFFFFF;
    --neutral-100: #F3F4F6;
    --neutral-200: #E5E7EB;
    --neutral-300: #D1D5DB;
    --neutral-400: #9CA3AF;
    --neutral-500: #6B7280;
    --neutral-600: #4B5563;
    --neutral-700: #374151;
    --neutral-800: #1F2937;
    --neutral-900: #111827;

    /* Color tokens */
    --background-base: var(--neutral-900);
    --text-base: var(--neutral-50);
}