spacer-block {
    display: block;
}

.button {
    display: inline-flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background: var(--color-background);
    color: var(--color-text);
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;

    transition: background 0.25s var(--ease-out-quart);
    &:any-link {
        text-decoration: none;
    }
    &:hover {
        background: var(--color-hover);
    }
    &:active {
        background: var(--color-active);
    }
}

.button-full-width {
    width: 100%;
}

details[open] > summary > .button {
    background: var(--color-active);
}

.button-square {
    padding: 0.5rem;
}
.button-sharp {
    border-radius: 0;
}

a.card:hover {
    background: var(--color-hover);
}

a.card:active {
    background: var(--color-active);
}
.card {
    background: var(--color-background);
    border-radius: 3rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-weight: initial;
    transition: background 0.25s var(--ease-out-quart);
}

.card-contents {
    padding: 2.25rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    & p {
        flex: 1 0 0;
        align-self: stretch;
    }
}

.nodon-display {
    display: flex;
    justify-content: end;
    gap: var(--size-100);
    margin-block-start: calc(var(--size-200) * -1);
    padding-inline: var(--size-200);
    > img {
        width: var(--size-300);
        height: var(--size-300);
        margin-bottom: -3px;
    }
}

details > summary {
    list-style: none;
    cursor: pointer;
    & > .icon::before {
        content: '🗄️';
    }
}

details[open] > summary > .icon::before {
    content: '❌';
}

details > summary::-webkit-details-marker {
    display: none;
}

details {
    position: relative;
}

details > menu {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 0.5rem 0;
    position: absolute;
    border-radius: 1rem;
    overflow: hidden;
    z-index: 1000;
    margin-block-start: 1rem;
    & .button {
        justify-content: flex-start;
    }
}

iframe.video {
    aspect-ratio: 16 / 9;
    width: 100%;
    overflow: hidden;
    border-radius: 3rem;
}

@media only screen and (min-width: 1024px) {
    .nodon-display > img {
        width: var(--size-400);
        height: var(--size-400);
    }

}