:root {
    scroll-behavior: smooth;
}

body {
    background: var(--color-background);
    color: var(--color-text);

    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background: url('/data/common/img/pattern-base.png'), var(--purple-900);
    background-size: 480px;
}

header {
    background: var(--purple-900);
    height: 48px;
    position: sticky;
    top: 0px;
    z-index: 1000;

    nav {
        display: flex;
        max-width: 1024px;
        height: 100%;
        margin: 0 auto;
        padding-inline: 1rem;
        justify-content: space-between;
        align-items: center;

        .menu-toggle {
            cursor: pointer;
        }

        .navbar-logo {
            height: 100%;
            & img {
                display: block;
                height: 100%;
            }
        }
        
        .desktop-nav {
            display: none;
            gap: 0rem;
        }
    }
}

main {
    flex: 1;
}

section {
    background: var(--color-background);
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding-inline: 1rem;
}

.hero > .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    > div {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 4;
        z-index: 8;
    }
    > img {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 4;
        flex-shrink: 1;
        max-height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 1fr;
    gap: 1rem;
}

footer {
    background: var(--color-background);
    color: var(--color-text);
    text-align: center;
}

@media only screen and (min-width: 1024px) { 
	header {
        height: 72px;
        nav {
            .dropdown {
                display: none;
            }

            spacer-object {
                display: none;
            }

            .desktop-nav {
                display: flex;
            }
        }
    }

    .container-grid {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }

    .hero > .container > img { grid-column-start: 2; max-height: 24rem; object-position: top;}
}