:root {
    scroll-behavior: smooth;
}

body {
    background: var(--color-background);
    color: var(--color-text);

    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background: url('/data/common/img/pattern-base.png'), var(--purple-900);
    background-size: 480px;
}

header {
    background: var(--purple-900);
    height: 72px;
    overflow: hidden;
    position: sticky;
    top: 0px;
    z-index: 1000;

    nav {
        display: flex;
        max-width: 1024px;
        height: 100%;
        margin: 0 auto;
        padding-inline: 1rem;
        justify-content: space-between;
        align-items: center;
        
        menu {
            display: flex;
            gap: 0rem;
        }
    }
}

main {
    flex: 1;
}

section {
    background: var(--color-background);
}

.hero {
    background-image: url("/data/common/img/test-hero.png");
    background-repeat: no-repeat;
    background-position: center 20rem top;
    background-size: 40rem;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding-inline: 1rem;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 1fr;
    gap: 1rem;
}

footer {
    background: var(--color-background);
    color: var(--color-text);
    text-align: center;
}