<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/nodopedia.css">
    <meta name="description" content="An online version of Nodopedia, the e-manual of Game Builder Garage." />

    <!-- Twitter Card data -->
    <meta name="twitter:card" value="summary">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ page.title }} - Nodopedia" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:image" content="/nodopedia/favicon.svg" />
    <meta property="og:description" content="An online version of Nodopedia, the e-manual of Game Builder Garage." />
    <link rel="icon" type="image/svg+xml" href="https://voxybuns.github.io/nodopedia/logo.png">
    <title>{{ page.title }} - Nodopedia</title>
</head>