<!-- Sidenav script -->
<script src="/assets/nodopedia/js/nav.js"></script>
<!-- Persistent scrolling -->
<script>
    const sidebar = document.querySelector(".navigation");

    var scrollpos = sessionStorage.getItem("sidebar-scroll");
    if(scrollpos !== null) {
        console.log(scrollpos);
        sidebar.scrollTop = scrollpos;
    }

    window.addEventListener("visibilitychange", () => {
        sessionStorage.setItem("sidebar-scroll", sidebar.scrollTop);
    });
</script>
<!-- Viewport values fix for mobile -->
<script>
    // First we get the viewport height and we multiple it by 1% to get a value for a vh unit
    let vh = window.innerHeight * 0.01;
    // Then we set the value in the --vh custom property to the root of the document
    document.documentElement.style.setProperty('--vh', `${vh}px`);
    // We listen to the resize event
    window.addEventListener('resize', () => {
    // We execute the same script as before
    let vh = window.innerHeight * 0.01;
    document.documentElement.style.setProperty('--vh', `${vh}px`);
    });
</script>
<!-- Adding links to anchors -->
<script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
<script>
    anchors.options = {
        visible: 'hover',
        icon: ''
    };
  anchors.add('h1,h2');
</script>
<!-- Dark theme -->
<script>
    const btn = document.querySelector(".theme_switch");


    // Listen for a click on the button 
    btn.addEventListener("click", function() {
    // If the user's OS setting is dark and matches our .dark-mode class...
    if (prefersDarkScheme.matches) {
        // ...then toggle the light mode class
        document.body.classList.toggle("light");
        // ...but use .dark-mode if the .light-mode class is already on the body,
        var theme = document.body.classList.contains("light") ? "light" : "dark";
    } else {
        // Otherwise, let's do the same thing, but for .dark-mode
        document.body.classList.toggle("dark");
        var theme = document.body.classList.contains("dark") ? "dark" : "light";
    }
    // Finally, let's save the current preference to localStorage to keep using it
    localStorage.setItem("theme", theme);
    });
</script>