<aside id="sidenav-open">
    <nav>
    <div class="header"><a href="/nodopedia/index.html"><img src="/assets/img/nodopedia/logo.svg" alt="Nodopedia" class="logo"></a></div>
    <div class="navigation">
      <h1>Input</h1>
      <ul>
        {% assign pages = site.pages | sort: 'order' %}
        {% for item in pages %}
          {% if item.category == "input" %}
            <li><a class="{{ item.category }} {% if item.url == page.url %}active{% endif %}" href="{{ item.url }}"><span class="nodon_icon" style="background: url('/assets/img/nodopedia/{{ item.name | remove: ".md" }}.png') center/cover"></span>{{ item.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      <h1>Middle</h1>
      <ul>
        {% for item in pages %}
          {% if item.category == "middle" %}
            <li><a class="{{ item.category }} {% if item.url == page.url %}active{% endif %}" href="{{ item.url }}"><span class="nodon_icon" style="background: url('/assets/img/nodopedia/{{ item.name | remove: ".md" }}.png') center/cover"></span>{{ item.title }}</a></li>
          {% endif %}
        {% endfor %}
        {% for item in pages %}
          {% if item.category == "gray" %}
            <li><a class="{{ item.category }} {% if item.url == page.url %}active{% endif %}" href="{{ item.url }}"><span class="nodon_icon" style="background: url('/assets/img/nodopedia/{{ item.name | remove: ".md" }}.png') center/cover"></span>{{ item.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      <h1>Output</h1>
      <ul>
        {% for item in pages %}
          {% if item.category == "output" %}
            <li><a class="{{ item.category }} {% if item.url == page.url %}active{% endif %}" href="{{ item.url }}"><span class="nodon_icon" style="background: url('/assets/img/nodopedia/{{ item.name | remove: ".md" }}.png') center/cover"></span>{{ item.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      <h1>Object</h1>
      <ul>
        {% for item in pages %}
          {% if item.category == "object" %}
            <li><a class="{{ item.category }} {% if item.url == page.url %}active{% endif %}" href="{{ item.url }}"><span class="nodon_icon" style="background: url('/assets/img/nodopedia/{{ item.name | remove: ".md" }}.png') center/cover"></span>{{ item.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      <h1>Tips</h1>
      <ul>
        {% for item in pages %}
          {% if item.category == "tips" %}
            <li><a class="{{ item.category }} {% if item.url == page.url %}active{% endif %}" href="{{ item.url }}">{{ item.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    
    </nav> 
    <a href="#" id="sidenav-close" title="Close Menu" aria-label="Close Menu" onchange="history.go(-1)"></a>
</aside>
